[user]
	name = Alan Potter
	email = alanjpotter@gmail.com
[alias]
    s = "!f() { git status \"$@\"; GIT_PAGER=cat git stash list; }; f"
    co = checkout
    one = log --oneline
    prb = "!f() { [[ ! -z \"$@\" ]] && git checkout -b \"$@\"_$(date +'%Y%m%d') || echo 'Need branch name!'; }; f"
    fix = commit --fixup
    pushf = push --force-with-lease
    amend = commit --amend
    amendf = commit --amend --no-edit
    ras = rebase -i --autosquash origin/master
    rbc = rebase --continue
    # Diff the modified files in the stash against the working
    # copy. Useful to see if the stash has already been applied.
    stash-diff = "!f() { local stash=\"${@-stash@{0}}\"; git stash show $stash --name-status | grep ^M | while read status file; do echo $file; git diff $stash:$file -- $file | cat; done; }; f"
[color]
    ui = never
[core]
	excludesfile = /Users/ajp/.gitignore
[push]
	default = current
[pull]
	ff = only
